{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="mt-2 mx-md-5 mx-2">
        <h2>Add a Unit</h2>
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}

            {% for field in form %}
            {% if field.type == "StringField" or field.type =="DateField" %}
            <div class="mb-3">
                {{ field.label(class="form-label") }}
                {{ field(class="form-control") }}
            </div>

            {% elif field.type == "FileField" %}
            <div class="mb-3">
                {{ form.studentfile.label(class="form-label") }}
                {{ form.studentfile(class="form-control-file") }}
            </div>
            {% elif field.type == "BooleanField" %}
            <div class="mb-3">
                {{ form.consentcheck.label(class="form-label") }}
                {{ form.consentcheck(class="form-check-input") }}
            </div>

            {% endif %}
            {% endfor %}

            <br />
            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>
</div>
{% endblock %}