{% extends "base.html" %}
{% from 'macros.html' import input %}
{% block content %}

<!-- Flash Messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %} {%if category == 'error'%}
<div class="alert alert-danger alert-dismissable fade show d-flex justify-content-between" role="alert">
    {{ message }}
    <button type="button" class="btn-close ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% else %}
<div class="alert alert-success alert-dismissable fade show d-flex justify-content-between" role="alert">
    {{ message }}
    <button type="button" class="btn-close ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %} {% endfor %} {% endif %} {%
endwith %}

<div class="container-fluid">
    <div class="mt-2 justify-content-center d-flex">
        <h2>Add a Unit</h2>
    </div>
    <form method="POST" enctype="multipart/form-data" novalidate>
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col-md-4 col-6">
                {{ input(form.unitcode) }}
            </div>
            <div class="col-md-4 col-6">
                {{ input(form.semester) }}
            </div>
            <div class="col-md-4 col-12">
                {{ input(form.unitname) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-6">
                {{ input(form.startdate, tooltip="Unit will be unavailable in session config before this date") }}
                {{ input(form.enddate, tooltip="Unit will be unavailable in session config after this date") }}
                {{ input(form.consentcheck, type="form-check-input") }}
                {{ input(form.assessmentcheck, type="form-check-input") }}
                {{ input(form.commentsenabled, type="form-check-input") }}
            </div>
            <div class="col-md-4 col-6">
                {{ input(form.sessionnames) }}

                <div class="d-none" id="comment-suggestions-parent">
                    {{ input(form.commentsuggestions) }}
                </div>
                <div class="d-md-flex justify-content-around d-none gap-4">
                    <a href="{{ url_for('download_facilitator_template') }}" class="btn btn-secondary">Download
                        facilitator
                        template</a>
                    <a href="{{ url_for('download_student_template') }}" class="btn btn-secondary">Download student
                        template</a>
                </div>
            </div>
            <div class="col-md-4 col-12 row">
                {{ input(form.commentsuggestions) }}
                <div class="col-md-12 col-7">
                    {{ input(form.facilitatorfile, type="form-control-file w-100") }}
                    {{ input(form.studentfile, type="form-control-file w-100") }}
                </div>
                <div class="d-md-none d-block col-5">
                    <a href="{{ url_for('download_facilitator_template') }}" class="btn btn-secondary">
                        Download facilitator template</a>
                    <a href="{{ url_for('download_student_template') }}" class="btn btn-secondary">
                        Download student template</a>
                </div>
            </div>

        </div>
</div>

<div class="d-flex justify-content-center mt-3">
    {{ form.submit(class="btn btn-primary w-50" ) }}
</div>
</form>
</div>

<script src="{{ url_for('static', filename='js/add_unit.js') }}"></script> {% endblock %}