{% extends "base.html" %}
{% from 'macros.html' import input %}
{% block content %}

<!-- Flash Messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %} {%if category == 'error'%}
<div class="alert alert-danger alert-dismissable fade show d-flex justify-content-between" role="alert">
    {{ message }}
    <button type="button" class="btn-close ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% else %}
<div class="alert alert-success alert-dismissable fade show d-flex justify-content-between" role="alert">
    {{ message }}
    <button type="button" class="btn-close ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %} {% endfor %} {% endif %} {%
endwith %}

<div class="container-fluid">
    <div class="mt-2 justify-content-center d-flex">
        <h2>Add a Unit</h2>
    </div>
    <form method="POST" enctype="multipart/form-data" novalidate>
        {{ form.hidden_tag() }}
        <!-- Going to have to manually call each element to get proper placement working :( -->
        <div class="row">
            <div class="col-md-4 col-6">
                {{ input(form.unitcode) }}
            </div>
            <div class="col-md-4 col-6">
                {{ input(form.semester) }}
            </div>
            <div class="col-md-4 col-12">
                {{ input(form.unitname) }}
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                {{ input(form.startdate) }}
                {{ input(form.enddate) }}
            </div>
            <div class="col-4">
                {{ input(form.facilitatorfile, type="FileField") }}
                {{ input(form.studentfile, type="FileField") }}
                {{ input(form.consentcheck, type="BooleanField") }}
                {{ input(form.assessmentcheck, type="BooleanField") }}
                {{ input(form.commentsenabled, type="BooleanField") }}
            </div>
            <div class="col-4">
                {{ input(form.sessionnames) }}
                {{ input(form.sessionoccurence, type="MultiCheckboxField") }}
                {{ input(form.commentsuggestions) }}

            </div>
        </div>

        {{ form.submit(class="btn btn-primary w-100" ) }}
    </form>
</div>
{% endblock %}