{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="mt-2 mx-md-5 mx-2 d-flex flex-column align-items-center">
        <h2 class="mb-3">Add a User</h2>
        <form method="POST" enctype="multipart/form-data" novalidate class="container-fluid">
            {{ form.hidden_tag() }}

            {% if error %}
            <div class="alert alert-danger">
                {{error}}
            </div>
            {% endif %}
            <div class="d-flex justify-content-center align-items-center mb-4 form-select-parent">
                <div class="form-select-parent">
                    {{ form.UserType(class="form-select") }}
                </div>
            </div>

            {% for field in form %}
            {% if field.type == "StringField"%}
            <div class="mb-2 mb-md-4 row d-flex align-items-center">
                {{ field.label(class="form-label col-md-2 text-md-end") }}
                <div class="col-md-8 ">
                    {{ field(class="form-control") }}
                </div>
            </div>
            {% for error in field.errors %}
            <div class="row">
                <div class="col-3 col-md-2"></div>
                <span class="text-danger col"> {{error}} </span>
            </div>
            {% endfor %}
            {% endif %}
            {% endfor %}
            <div class="d-flex justify-content-center">
                {{ form.submit(class="btn btn-primary col-md-4 col-6") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}