{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="mt-2 mx-md-5 mx-2 d-flex flex-column align-items-center">
        <h2 class="mb-3">Add a User</h2>
        <form method="POST" enctype="multipart/form-data" novalidate class="container-fluid">
            {{ form.hidden_tag() }}

            {% if error %}
            <div class="alert alert-danger">
                {{error}}
            </div>
            {% endif %}
            <div class="d-flex justify-content-center align-items-center mb-4 form-select-parent">
                <div class="form-select-parent">
                    {{ form.UserType(class="form-select") }}
                </div>
            </div>

            {% for field in form %}
            {% if field.type == "StringField"%}
            <div class="mb-2 mb-md-4 row d-flex align-items-center">
                {{ field.label(class="form-label col-md-2 text-md-end") }}
                <div class="col-md-8 ">
                    {{ field(class="form-control") }}
                </div>
            </div>
            {% for error in field.errors %}
            <div class="row">
                <div class="col-3 col-md-2"></div>
                <span class="text-danger col"> {{error}} </span>
            </div>
            {% endfor %}
            {% endif %}
            {% endfor %}
            <div class="d-flex justify-content-center">
                {{ form.submit(class="btn btn-primary col-md-4 col-6") }}
            </div>
        </form>
    </div>

    <div class="d-flex justify-content-center">
        <div class="mx-4 mt-3 mx-md-5 container">
            {% if users|length > 0 %}
            <div class="row d-none d-md-flex text-center lead table-heading">
                <span class="col">Email</span>
                <span class="col">Name</span>
                <span class="col">User Type</span>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <div class="mx-4 mt-0 mx-md-5 container">
            {% if users|length > 0 %}
            {% for user in users %}
            <div class="row table-element-nocursor text-center my-2 py-2">
                <!-- ^ This is fine :) (url_for reads inside the bracket seperately, so the '' do not interfere) -->
                <span class="col-md d-none d-md-inline">{{ user.email }}</span>
                <span class="col-md col-6">{{ user.firstName }} {{ user.lastName }}</span>
                <span class="col-md col-6">{{ user.userType }}</span>
            </div>
            {% else %}
            <h2 class="text-center"> No users</h2>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}