{% from 'macros.html' import input %}
{% extends "base.html" %}
{% block content %}

<div class="vh-100 d-flex justify-content-center align-items-center login-bg">
	<div class=" rounded-4 shadow-lg d-flex flex-column login-box
	justify-content-center align-items-center pt-2 px-4">
		<h4 class="fw-bold">Welcome to UWAttend!</h4>
		<h5> Please add your user details below</h5>
		<!-- Add any flash /error html here :) -->
		<form method="POST" novalidate class="w-100">
			{{ form.hidden_tag() }}
			{% for field in form %}
			{% if field.type == "StringField" or field.type == "PasswordField" %}
			{{ input(field) }}
			{% endif %}
			{% endfor %}
			<div class="mt-3">
				{{ form.submit(class="btn btn-success mb-3 rounded-5 w-100") }}
			</div>
		</form>
	</div>
</div>

{% endblock %}