{% extends "base.html" %}
{% from 'macros.html' import input %}
{% block content %}

<!-- Flash Messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %} {%if category == 'error'%}
<div class="alert alert-danger alert-dismissable fade show d-flex justify-content-between" role="alert">
	{{ message }}
	<button type="button" class="btn-close ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% else %}
<div class="alert alert-success alert-dismissable fade show d-flex justify-content-between" role="alert">
	{{ message }}
	<button type="button" class="btn-close ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %} {% endfor %} {% endif %}
{% endwith %}

<div class="container-fluid">
	<div class="row mt-1 mx-md-5 mx-4 d-flex">
		<div class="col-md-4 col-12">
			<a href="{{ url_for('updateunit') + '?id='+unit_id}}" class="fst-italics btn btn-secondary p-1 ">
				Back to unit</a>
			{% if type == "students" %}
			<h4 class="text-center">Upload students</h4>
			<form method="POST" enctype="multipart/form-data" action="{{ url_for('uploadStudents') + '?id='+unit_id}}"
				novalidate>
				{{ csv_form.hidden_tag() }}
				{{ csv_form.studentfile( class="form-control-file") }}
				{{ csv_form.submit(class="btn btn-primary my-2 " ) }}
			</form>
			<h4 class="text-center">Add Student</h4>
			<form method="POST" novalidate>
				{{ form.hidden_tag() }}

				<div class="row row-cols-md-1 row-cols-2">
					{{ input(form.studentNumber) }}
					{{ input(form.title) }}
					{{ input(form.firstName) }}
					{{ input(form.lastName) }}
					{{ input(form.preferredName) }}
					{{ form.submit(class="btn btn-primary" ) }}

				</div>
			</form>
			{% else %}
			<h4 class="text-center">Add Facilitator</h4>
			<form action="/add_facilitator?id={{unit_id}}" method="POST">
				<input id="resetEmail" class="form-control" name="resetEmail" type="text">
				<div class="d-flex justify-content-center">
					<input id="submit" class="btn btn-primary mt-3 col-6" name="submit" type="submit"
						value="Send Email">
				</div>
			</form>
			{% endif %}
		</div>

		<!-- Table -->
		<div class="col-md-8 col-12">
			<h3 class="text-center">{% if type == "students" %} Student {% else %} Facilitator {% endif %} list for
				unit: {{ unit.unitCode }}</h3>
			<div class="container">
				{% if type=="students" %}
				{% for student in students %}
				<!-- onlick re-route to student page for this specific student -->
				<div class="row outline-table text-center py-1 d-flex align-items-center">
					<span class="col">{{student.number }}</span>
					<span class="col">{{student.name }}</span>
					<span class="col">
						<form action="{{ url_for('deleteStudent') + '?unit_id='+unit_id+'&student_id='+student.id }}"
							method="POST">
							<button class="py-1 btn btn-danger" type="submit">Delete</button>
						</form>
					</span>
				</div>
				{% endfor %}
				{% else %}
				{% for facilitator in facilitators %}
				<!-- onlick re-route to student page for this specific student -->
				<div class="row outline-table text-center py-1 d-flex align-items-center">
					<span class="col">{{ facilitator.email }}</span>
					<span class="col">{{ facilitator.name }}</span>
					<span class="col">
						<form
							action="{{ url_for('deleteFacilitator') + '?unit_id='+unit_id+'&facilitator_id='+facilitator.email }}"
							method="POST">
							<button class="py-1 btn btn-danger" type="submit">Delete</button>
						</form>
					</span>
				</div>
				{% endfor %}

				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}