<div class="modal fade" id="exitSessionModal" tabindex="-1" aria-labelledby="exitSessionModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header border-0 pb-0 d-flex justify-content-center ">
				<h1 class="modal-title fs-4" id="exitSessionModalLabel">Exit Session</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body text-center">
				Not all students have been signed out. Are you sure you want to exit the session?
			</div>
			<div class="modal-footer border-0 pt-0 d-flex justify-content-center">
				<button type="button" class="btn btn-danger w-30 py-2" onclick="exitSession()">Exit Session</button>
			</div>
		</div>
	</div>
</div>