{% extends "base.html" %}
{% block content %}
<div class="vh-100 d-flex justify-content-center align-items-center login-bg">
	<div class=" rounded-4 shadow-lg d-flex flex-column login-box
         justify-content-center align-items-center py-3 px-3">

		<h3 class="fw-bold"> Please input your email</h3>
		<p class="text-center"> If the email has an account, we will send a password reset link to this email</p>

		<!-- Put proper email password reset logic here! placeholder input  -->
		<div class="w-100">
			<input id="resetEmail" class="form-control" name="resetEmail" type="text">
			<div class="d-flex justify-content-center">
				<input id="submit" class="btn btn-success mt-3 rounded-5 col-md-8 col-12" name="submit" type="submit"
					value="Send Email">
			</div>
		</div>
	</div>
	{% endblock %}