{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
	<div class="row mt-2 text-center">
		<p class="col-md-4">Unit name: <span>Here</span></p>
		<p class="col-md-4">Session name: <span>Here</span></p>
		<p class="col-md-4">Day/Time: <span>Here</span></p>
	</div>
	<div class="d-flex align-items-center flex-column">
		<h1 class="my-2">
			0 signed in of 0
		</h1>
		<!-- Use Flask forms?-->
		<form>
			<label for="studentSignIn" class="form-label">Sign in Student</label>
			<input type="search" class="form-control" id="studentSignIn" placeholder="Enter name or ID...">
		</form>
		<h2 class="my-2">
			Class List:
		</h2>
	</div>

	<!-- Table element -->
	<div class="mx-4 mx-md-5" id="classTable">
		<div class="row d-none d-md-flex text-center lead bg-dark-subtle rounded">
			<span class="col">Name</span>
			<span class="col">ID</span>
			<span class="col">Login</span>
			<span class="col">Photo</span>
		</div>

		<div class="row table-element text-center my-2 py-2 rounded border border-primary">
			<span class="d-md-none col-md-0 col-4 lead">Name:</span>
			<span class="col-md col-8">Alex</span>
			<span class="d-md-none col-md-0 col-4 lead">ID:</span>
			<span class="col-md col-8">12345678</span>
			<span class="d-md-none col-md-0 col-4 lead">Login:</span>
			<span class="col-md col-8">Yes</span>
			<span class="d-md-none col-md-0 col-4 lead">Photo:</span>
			<span class="col-md col-8">Yes</span>
		</div>
	</div>

	<div class="fixed-bottom row pb-2 bg-body">
		<button class="btn col-md-3 col">Sync</button>
		<button class="btn btn-danger col">Sign All Out</button>
		<button class="btn col-md-3 col">Download</button>
	</div>

</div>
{% endblock %}