{% extends "base.html" %}
{% block content %}

<!-- Flash Messages -->

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
{%if category == 'error'%}
<div class="alert alert-danger alert-dismissable fade show d-flex justify-content-between" role="alert">
	{{ message }}
	<button type="button" class="btn-close ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% else %}
<div class="alert alert-success alert-dismissable fade show d-flex justify-content-between" role="alert">
	{{ message }}
	<button type="button" class="btn-close ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endfor %} {% endif %} {% endwith %}

<div class="container-fluid">
	<!-- Top section -->
	<h4 class="text-center mb-0 mt-1">{{ current_unit.unitName }}, {{ current_unit.studyPeriod }}: {{
		current_session.sessionName }}, {{ current_session.sessionDate }}/{{current_session.sessionTime }}</h4>

	<div class="d-flex justify-content-center ">
		<div class="mx-4 mx-md-5 container">
			{% if num_facilitators > 1 %}
				<p class="d-flex justify-content-center">There are multiple facilitators in this session. Please refresh the page regularly.</p>
			{% endif %}
			<h3 id="signedInElement" data-signedinnum={{ signed_in }}>
				{{ signed_in }} signed in of {{ total_students }}
			</h3>
			<!-- Input element -->
			<div class="d-flex justify-content-md-between justify-content-center row ">
				<div class="col-md-6">
					<form id="attendanceForm" class="" method="POST" action="{{ url_for('add_student') }}">
						{{ form.hidden_tag() }}
						<div class="input-group">
							{{ form.student_sign_in(id='student_search', class="form-control", autocomplete="off",
							placeholder="Sign in/out student by name or ID...") }}
							{{ form.studentID(id='studentID') }}
							{{ form.consent_status(type="hidden") }}
							<input type="hidden" id="hidden_consent_indicator" value="no">
							<button id="student_sign_in_button" type="submit" class="btn btn-primary">Submit</button>
						</div>
						<div id="suggestions_container" class="position-absolute col-8 col-md-5 list-group mt-2 z-3">
						</div>
					</form>
				</div>
				<div class="col-md-4 mt-md-0 mt-4 col-8  ">
					<div class="input-group">
						<span class="input-group-text image-parent">
							<i class="bi bi-search"></i>
						</span>
						<input type="text" id="search-bar" name="search-bar" class="form-control rounded-end"
							placeholder="Search class list...">
					</div>
				</div>
			</div>
		</div>
	</div>

	{% include 'photoConsent.html'%}
	<!-- Table Section -->
	<div class="d-flex justify-content-center">
		<div class="mx-4 mt-2 mx-md-5 container">
			{% if total_students > 0 %}
			<div class="row d-none d-md-flex text-center lead table-heading">
				<span class="col">Name</span>
				<span class="col">ID</span>
				<span class="col">Login</span>
				<span class="col">Photo</span>
			</div>
			{% endif %}
		</div>
	</div>

	<div class="d-flex justify-content-center">
		<div class="mx-4 mt-0 mx-md-5 container" id="classTable">
			{% if total_students > 0 %}
			{% for student in students%}
			<!-- onlick re-route to student page for this specific student -->
			<div class="row table-element {% if student.login == 'yes' %} table-login {% else %} table-logout {% endif %} text-center my-2 py-2"
				onclick="redirectToStudent('{{ student.id }}')">
				<form id="studentForm_{{ student.id }}" action="/student" method="POST" style="display:none;">
					<input type="hidden" name="student_id" value="{{ student.id }}">
				</form>
				<span class="col-md col-6">{{student.name}}</span>
				<span class="col-md col-6">{{student.number}}</span>
				<span class="d-none d-md-inline col-md">{{student.login}}</span>
				<span class="d-none d-md-inline col-md">{{student.photo}}</span>
			</div>
			{% endfor %}
			{% endif %}
		</div>
	</div>
	{% include 'signOut.html'%}
	{% include 'exitSession.html'%}
	<!-- Bottom button -->
	<div class="fixed-bottom d-flex justify-content-around home-footer mb-2">
		<!-- If all students are signed out, exit session immediately with no modal popup -->
		<button id="exitSessionButton" class="exitSessionButton btn btn-secondary col-md-3 col-4">Exit Session</button>
		<button id="signOutButton" class="btn btn-danger col-md-4 col-5">Sign All Out</button>
	</div>
</div>

<script src="{{ url_for('static', filename='js/home.js') }}"></script>
<script src="{{ url_for('static', filename='js/consent.js') }}"></script>
<script src="{{ url_for('static', filename='js/student_suggestions.js') }}"></script>
<script src="{{ url_for('static', filename='js/sign_out.js') }}"></script>
<script src="{{url_for('static', filename='js/exit_session.js')}}"></script>
{% endblock %}