<nav class="navbar navbar-expand-md bg-body-secondary">
	<div class="container-fluid">
		<a class="navbar-brand">UWAttend</a> <!--Can likely be an image/gif later on-->
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="navbar-toggler-icon">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<div class="navbar-nav">
				<a class="nav-link active" aria-current="page" href="#">Home</a>
				<a class="nav-link" aria-current="page" href="#">Config</a>
			</div>
		</div>
	</div>

</nav>