<nav class="navbar sticky-top navbar-expand-md bg-dark-subtle">
	<div class="container-fluid">
		<a class="navbar-brand">UWAttend</a> <!--Can likely be an image/gif later on-->
		<span class="navbar-text fw-bold ms-auto me-2 d-md-none text-truncate w-25">
			Username
		</span>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="navbar-toggler-icon">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse row ms-1 ms-md-0" id="navbarNav">
			<!-- Left side -->
			<div class="navbar-nav nav-underline col-md-6">
				<!-- question: url_for doesnt detect the empty / as a route for home. is there a better way?-->
				<a class="nav-link {% if request.path == url_for('home') or request.path == '/' %}active"
					aria-current="page {% endif %}" href="{{ url_for('home')}}">
					Home</a>
				<a class="nav-link {% if request.path == url_for('session') %}active" aria-current="page{% endif %}"
					href="{{ url_for('session')}}">Config</a>
				<!-- TODO: add jinja login conditional-->
				<a class="nav-link {% if request.path == url_for('admin') %}active" aria-current="page{% endif %}"
					href="{{ url_for('admin')}}">Admin</a>
					<a class="nav-link {% if request.path == url_for('nfc') %}active" aria-current="page{% endif %}"
					href="{{ url_for('nfc')}}">NFC</a>
			</div>
			<!-- Right side -->
			<div class="navbar-nav d-flex justify-content-end col-md-6">
				<span class="navbar-text fw-bold text-truncate me-3 d-none d-md-block ">
					Username
				</span>
				<button class="btn btn-danger">Logout</button>
			</div>
		</div>
	</div>
</nav>