<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#consentModal">
	Photo consent modal <!-- !Remove this before PR!!!-->
</button>

<div class="modal fade" id="consentModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="consentModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">Consent to photography</h1>
			</div>
			<div class="modal-body">
				Does this student consent to being photographed?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Does not consent</button>
				<button type="button" class="btn btn-primary">Consents</button>
			</div>
		</div>
	</div>
</div>