<div class="modal fade" id="removeStudentModal" tabindex="-1" aria-labelledby="removeStudentModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header border-0 pb-0 d-flex justify-content-center ">
				<h1 class="modal-title fs-4" id="removeStudentModalLabel">Remove Student</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body text-center">
				Are you sure you want to remove the student from the session?
			</div>
			<div class="modal-footer border-0 pt-0 d-flex justify-content-between">
				<button type="button" class="btn btn-secondary w-30 py-2" data-bs-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-danger w-30 py-2" onclick="removeStudent('{{student.id}}')">Remove</button>
			</div>
		</div>
	</div>
</div>