<!-- File: templates/session.html -->
{% extends "base.html" %}
{% block content %}

<div class="mt-4 mx-md-5 mx-2 d-flex flex-column align-items-center">
    <h2>Session Configuration</h2>
    {% if update %}
    <p class="text-center">You are already in an active session.</p>
    <h4 class="text-center">{{ unit }} {{ currentSession.sessionName }} {{ currentSession.sessionTime }} {{ currentSession.sessionDate }}</h4>
    <p>Edit the session configuration below.</p>
    {% else %}
    <p class="text-center">
        You have no active session. <br> Configure a new session below to view your class list.
    </p>
    {% endif %}
</div>
<form method="POST" {% if update %} data-update="true" {% else %} data-update="false"{% endif %}>
    <div class="d-flex justify-content-center">
        <div>
            {{ form.hidden_tag() }}
            {% for field in form%}
            {% if field.type == "SelectField" %}

            <div class="mb-4 d-flex justify-content-between align-items-center gap-3">
                {{ field.label(class="form-label text-end") }}
                <div class="form-select-parent">
                    {{ field(class="form-select") }}
                </div>
            </div>
            {% endif %}

            {% if field.type == "DateField" %}
            <div class="mb-4 d-flex justify-content-between align-items-center gap-3">
                {{ field.label(class="form-label text-end") }}
                <div class="form-select-parent">
                    {{ field(class="form-control") }}
                </div>
            </div>
            {% endif %}
            {% endfor %}

            <!-- Current Time -->
            <div class="d-flex gap-4">
                <label for="current_time_display" class="form-label">Current Time:</label>
                <div id="current_time_display" data-perth-time="{{ perth_time }}">Loading...</div>

                <!-- Hidden input to store current time for backend -->
                <input type="hidden" id="current_time" name="current_time">
            </div>

            <!-- Buttons -->
            <div class="mt-2 row d-flex justify-content-around">
                {% if update %}
                <button type="button" class="btn btn-secondary col-4" onclick="window.history.back()">Back</button>
                {% endif %}
                {{ form.submit(class="btn btn-primary col-4") }}
            </div>
        </div>
    </div>
</form>
</div>
{% include 'joinExistingSession.html'%}
<script src="{{url_for('static', filename='js/joinExistingSession.js')}}"></script>
<script src="{{url_for('static', filename='js/session_config.js')}}"></script>
{% endblock %}