<div class="modal fade" id="signOutModal" tabindex="-1" aria-labelledby="signOutModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header border-0 pb-0 d-flex justify-content-center ">
				<h1 class="modal-title fs-4" id="signOutModalLabel">Sign All Students Out</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body text-center">
				Please ensure the number of students in the class is correct before signing all students out.
			</div>
			<div class="modal-footer border-0 pt-0 d-flex justify-content-center">
				<button type="button" class="btn btn-danger w-25 py-2" onclick="SignAllOut()">Confirm</button>
				<!-- perform POST request!-->
			</div>
		</div>
	</div>
</div>