{% extends "base.html" %}
{% block content %}

<!-- Flash Messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %} {%if category == 'error'%}
<div class="alert alert-danger alert-dismissable fade show d-flex justify-content-between" role="alert">
    {{ message }}
    <button type="button" class="btn-close ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% else %}
<div class="alert alert-success alert-dismissable fade show d-flex justify-content-between" role="alert">
    {{ message }}
    <button type="button" class="btn-close ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %} {% endfor %} {% endif %} {%
endwith %}

<div class="container-fluid">
    <!-- Form element -->
    <form method="POST" action="{{ url_for('edit_student_details') }}">
        {{ form.hidden_tag() }}
        <div class="mx-4 mt-3 mx-md-5 mb-5">
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3 ">
                        <p>
                            <strong>Student name:</strong> {{ student.name }}
                        </p>
                        <p>
                            <strong>Student ID:</strong> {{ student.number }}
                            {{ form.student_id(value=student.number) }}
                        </p>
                    </div>
                    <div class="d-flex flex-md-column flex-row justify-content-between">
                        <div class="mb-3 col-md-8 col-5">
                            {{ form.signInTime.label(class="form-label")}}
                            {{ form.signInTime(class="form-control", type="time", step="1", value=student.signInTime) }}
                        </div>
                        <div class="mb-3 col-md-8 col-5">
                            {{ form.signOutTime.label(class="form-label")}}
                            {{ form.signOutTime(class="form-control", type="time", step="1", value=student.signOutTime)
                            }}
                        </div>
                    </div>
                    <!-- Login Switch -->
                    <div class="d-flex gap-2 mb-3">
                        <input class="form-check-input" type="checkbox" name="login" id="login" {% if
                            student.login=='yes' %} checked {% endif %}>
                        {{form.login.label(class="form-label")}}

                    </div>

                    <!-- Photo Switch -->
                     {% if consent_required %}
                    <div class="d-flex gap-2 mb-3">
                        <input class="form-check-input" type="checkbox" name="consent" id="consent" {% if
                            student.consent=="yes" %} checked {% endif %}>
                        {{form.consent.label(class="form-label")}}
                    </div>
                    {% endif %}
                </div>

                <div class="col-md-6 mb-4">

                     {% if marks_enabled %}
                    <!-- Grade Input -->
                    <div class="mb-3">
                        {{ form.grade.label(class="form-label")}}:
                        {% if student.grade %}
                        {{ form.grade(class="form-control", value=student.grade) }}
                        {% else %}
                        {{ form.grade(class="form-control") }}
                        {% endif %}
                    </div>
                    {% endif %}
                  
                    <!-- Comment Section -->
                    {{ form.comments.label(class="form-label", text=comments_label) }}:
                    {{ form.comments(class="form-control", rows="5", **{"data-comment": student.comments, "disabled": not comments_enabled}) }}
                    {% if comments_enabled %}
                    {% if comments is not none %}
                    <div class="suggestions d-flex flex-wrap gap-2 mt-3">
                        Suggestions:
                        {% for comment in comments %}
                        <span id="{{ comment }}" class="suggestion badge p-2">{{ comment }}</span>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% endif %}
                    <div class="d-flex justify-content-md-end justify-content-center">
                        <button type="button" class="btn btn-danger w-50 mt-3" data-bs-toggle="modal"
                            data-bs-target="#removeStudentModal">Remove Student</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- <form id="remove_from_session_form" method="POST" action="{{ url_for('remove_from_session') }}" class="col">
            <button type="submit" id="remove_from_session" class="btn btn-danger">Remove From Session</button>
            <input type="hidden" name="student_id" value="{{ student.id }}">
        </form> -->

        <!-- Action Buttons -->
        <div class="fixed-bottom row d-flex justify-content-around mt-5 mb-3">
            <a href="{{ url_for('home') }}" class="btn btn-secondary col-4">Cancel</a>
            <button type="submit" class="btn btn-success col-4">Save Changes</button>

        </div>
    </form>
    {% include 'removeStudent.html'%}
</div>

<script src="{{url_for('static', filename='js/student.js')}}"></script>
{% endblock %}