{% extends "base.html" %}
{% block content %}
<div class="container-fluid ">
    <div class="mt-2 mx-md-5 mx-2">
        <h2>Unit Configuration</h2>
        <br>
        <a href="{{ url_for('addunit') }}" class="btn btn-primary">Add Unit</a>
        <a href="{{ url_for('export_data') }}" class="btn btn-primary">Export Database</a>
    </div>
    <div class="mx-4 mt-3 mx-md-5" id="unitsTable">
        {% if units|length > 0 %}
        <div class="row d-none d-md-flex text-center lead bg-dark-subtle rounded">
            <span class="col">Unit Code</span>
            <span class="col">Unit Name</span>
            <span class="col">Study Period</span>
            <span class="col">Start Date</span>
            <span class="col">End Date</span>
        </div>
        {% for unit in units %}
        <a href="{{ url_for('updateunit', unit_id=unit.unit_id) }}" class="text-decoration-none text-dark">
            <div class="row table-element text-center my-2 py-2 rounded border border-primary">
                <span class="col-md col-6">{{ unit.code }}</span>
                <span class="col-md col-6">{{ unit.name }}</span>
                <span class="col-md">{{ unit.study_period }}</span>
                <span class="col-md">{{ unit.start_date }}</span>
                <span class="col-md">{{ unit.end_date }}</span>
            </div>
        </a>
        {% endfor %}
        {% else %}
        <p class="text-center">No units available.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
